<main class="jumbotron jumbotron-fluid text-center">
    <div class="row justify-content-center">


        <div class="card text-center col-sm-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{details.text}}</li>
                <li class="list-group-item">{{details.description}}</li>
                <li class="list-group-item">{{details.scale}}</li>
                <li class="list-group-item">{{details.color}}</li>
                <li class="list-group-item">{{details.url}}</li>
            </ul>
        </div>
    </div>
</main>